<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_PATH" value="/var/lib/tomcat7/webapps/uploadedFiles/logs" />

	<!-- Setting max file size -->
	<property name="LOG_FILE_SIZE" value="5MB"/>
	

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
            <charset>UTF-8</charset>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{15} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{15} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/archived/debug.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{15} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/archived/error.%d{dd-MM-yyyy}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<!-- Quartz job log file -->
	<appender name="QUARTZ-JOB"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/quartzjob.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %class{36} %logger{15} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/archived/quartzjob.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<!-- daemon email rule log -->
	<appender name="DAEMON-EMAIL-RULE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/daemonemailrule.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %class{36} %logger{15} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/archived/daemonemailrule.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	
	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">

      <discriminator>
		<key>logFileName</key>
		<defaultValue>head0</defaultValue>
	  </discriminator>

	  <sift>

		<appender name="FILE-${logFileName}"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/${logFileName}.log</file>

			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <charset>UTF-8</charset>
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} %level %logger{15} - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>${LOG_PATH}/${logFileName}.%i.log.zip
				</FileNamePattern>
				<MinIndex>1</MinIndex>
				<MaxIndex>10</MaxIndex>
			</rollingPolicy>

			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>

		</appender>

	  </sift>
	</appender>
	
	<logger name="QUARTZ_THREAD_LOG" level="debug" additivity="false">
		<appender-ref ref="FILE-THREAD" />
		<!-- <appender-ref ref="STDOUT" /> -->
	</logger>
	
	
	<!-- Send logs to both console and file audit -->
	<logger name="in.app.student" level="DEBUG" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="QUARTZ_JOB" level="DEBUG" additivity="false">
		<appender-ref ref="QUARTZ-JOB" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="DAEMON_EMAIL_RULE" level="DEBUG" additivity="false">
		<appender-ref ref="DAEMON-EMAIL-RULE" />
		<appender-ref ref="STDOUT" />
	</logger>

    <logger name="FILE_ERROR" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-ERROR" />
        <appender-ref ref="STDOUT" />
    </logger>
	
	<root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-ERROR" />
    </root>

</configuration>